
<ion-content>

  <ion-header>
    <ion-toolbar>
      <ion-title>Zahira fiestas y eventos</ion-title>
    </ion-toolbar>
  </ion-header>


  <form action="" id="form_login">

    <ion-thumbnail id="avatar_login" class="form-group">
      <img src="/assets/img/AvatarUser.png" alt="">
    </ion-thumbnail>

    <div class="form_content">
      <ion-input type="text" class="form-control form-group" placeholder="Usuario"></ion-input>
      <ion-input type="password" class="form-control form-group" placeholder="Contraseña"></ion-input>

<!--      <ion-button class="btn btn-outline-warning"> Login</ion-button>-->
      <button class="btn btn-outline-warning btn-block" >que cosas</button>
    </div>

  </form>


  <ion-footer>
    <ion-toolbar>
      <ion-title>Cergersoft 2020 &#174;</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>
